[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim
[submodule ".vim/bundle/markdown.vim"]
	path = .vim/bundle/markdown.vim
	url = https://github.com/plasticboy/vim-markdown.git
